<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqs.kinghonor.mapper.HeroRestrainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gqs.kinghonor.model.db.HeroRestrainDB">
        <id column="id" property="id" />
        <result column="hero_id" property="heroId" />
        <result column="restrain_id" property="restrainId" />
        <result column="reason" property="reason" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hero_id, restrain_id, reason, create_id, create_time
    </sql>

</mapper>
